/*
 * This file is where you should put your local customizations
 * the only thing that shouldn't be static are the local_* functions as they are used in main.c
 */


// use an extended ASCII code ( 128 and up ) as an address so it doesn't get confused with normal data
#define MYADDY 65



static void process_command(void)
{
  /*
   * This is where you put your code to handle commands
   */

	// some example commands
	if (command == 'B') {
		// Please note that as we're sending the address as a numerical,
		// instead of a char, we get 2 less bytes. So if argv is full,
		// the last two bytes are gonna get chopped off on the echo back
		//
		//snprintf(output , 255 , "%d:PONG    :%s\n" , MYADDY , argv); // stdio.h was WAY too big
		output[0] = MYADDY;
		output[1] = ':';
		output[2] = 'B';
		output[3] = ':';
		output[4] = argv;
		output[5] = '\n';

		do_output = 1;
	} 

	if (do_output) {
		_delay_ms(100); // makes timing easier on PC RS485 adapter
		rs485_send(output);
	}

}

void local_setup(void)
{
  /*
   * This is where you put local code to be run during boot time
   */

  // THESE MUST BE HERE
	rs485_init();
	sei();
	_delay_ms(100);
  // END THESE MUST BE HERE
}



void local_main_loop(void)
{
  /*
   * This is where you put local code to be run in the while loop in main()
   * it is executed before each attempt to read and process an RS485 command.
   * can be useful for doing things like populating sensor data into variables
   */
}
